# links for PyTorch not needed since we installed manually
gdown==4.5.1
matplotlib>=3.7.2
numpy>=1.21.1
pandas>=1.4.3
opencv-python>=4.5.3
Pillow>=9.0.0
# torch==1.10.1  # already installed manually
torchvision>=0.19.1
tqdm>=4.62.1